<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Giriş Yap</h4>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmaill" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Şifre</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <button style="margin-bottom:20px ;background-color: rgb(15, 77, 248);color: white;border-style: none;" type="button" class="btn btn-info" (click)="login()">Giriş Yap</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/register" style="text-decoration: none;">Hesap Oluştur</a>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="text-dark" style="text-decoration: none;">Şifremi Unuttum ?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>